b h1 {
  font-size: 4rem;
}
p {
  font-size: 1.5rem;
}
body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: white;
  background: #202731;
  overflow-x: hidden;
}

/* sub sections */
.triangle {
  position: relative;
  background: black;
  height: 60vh;
}

.triangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 67px 67px 0 67px;
  border-color: black transparent transparent transparent;
  left: 50%;
  transform: translateX(-90%) translateY(100%);
}

.full-height {
  height: 20vh;
  background: pink;
}
